* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background: #222;
}

#tsparticles {
  position: absolute;
  height: 650px;
  z-index: -1;
  width: 470px;
  background: linear-gradient(135deg);
  color: #fff;
  border-radius: 20px;
  text-align: center;
  overflow: hidden;
}
